- var nav = [{url: 'services.html', name: 'Каталог услуг'}, {url: '#', name: 'Об институте'}, {url: '#', name: 'Отделения'}, {url: 'news.html', name: 'Новости'}, {url: '#', name: 'Правовые документы'}, {url: '#', name: 'Отзывы пациентов'}, {url: '#', name: 'Контакты'}];

mixin navItem(url, name, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', href=url, title=name)= name