footer.footer
    .container
        .footer-flex
            .footer-copyright © 2018 НИИ СП им. Н. В. Склифосовского
            .footer-c1
                .footer-bl.
                    Государственное бюджетное учреждение
                    здравоохранения города Москвы «Научно-
                    исследовательский институт скорой помощи
                    им. Н.В. Склифосовского Департамента
                    здравоохранения города Москвы»

                .footer-bl
                    .footer-bl__label Юридический адрес
                    .footer-bl__txt.
                        129090, город Москва,
                        Большая Сухаревская площадь дом №3

                .footer-bl
                    .footer-bl__label Режим работы учреждения
                    .footer-bl__txt Круглосуточный

                .footer-bl
                    .footer-bl__label Адрес электронной почты
                    .footer-bl__txt info@sklifos.ru

            .footer-c2
                .footer-bl
                    .footer-bl__label Справочная
                    .footer-bl__txt +7 (495) 680 41 54, +7 (495) 680 93 60

                .footer-bl
                    .footer-bl__label Приёмное отделение
                    .footer-bl__txt.
                        +7 (495) 680 67 22, +7 (495) 680 89 76,
                        +7 (495) 680 85 47, +7 (495) 680 07 06
                .footer-bl
                    .footer-bl__label Канцелярия
                    .footer-bl__txt +7 (495) 608 84 55

                .footer-bl
                    .footer-bl__label Отдел кадров
                    .footer-bl__txt +7 (495) 628 53 70

            .footer-c3
                .footer-bl
                    .footer-bl__label2 Директор
                    .footer-bl__label Петриков Сергей Сергеевич
                    .footer-bl__txt Профессор РАН, доктор медицинских наук
                .footer-bl
                    .footer-bl__label Приём граждан по личным вопросам:
                    .footer-bl__txt2 по средам с 11 до 12, корпус №21,
                    .footer-bl__txt.
                        +7 (495) 625 38 97,<br>
                        +7 (495) 628 36 45<br>
                        info@sklifos.ru
                .footer-bl
                    .footer-bl__label2 Заместитель директора института по лечебной работе

                    .footer-bl__label Токарев Алексей Сергеевич
                    .footer-bl__txt2 главный врач, кандидат медицинских наук

                    .footer-bl__label Приём граждан по личным вопросам
                    .footer-bl__txt2 вторник и четверг с 15 до 16, корпус №21,  этаж 1<br>
                    .footer-bl__txt.
                        +7 (495) 620 11 60<br>
                        info@sklifos.ru
                .footer-bl.
                    Книга отзывов и пожеланий находится<br>
                    в приёмной главного врача
