footer.footer
    .container
        .footer-flex
            .footer-c1.
                Государственное бюджетное учреждение
                здравоохранения города Москвы «Научно-
                исследовательский институт скорой помощи
                им. Н.В. Склифосовского Департамента
                здравоохранения города Москвы»

                Юридический адрес
                129090, город Москва,
                Большая Сухаревская площадь дом №3

                Режим работы учреждения
                Круглосуточный

                Адрес электронной почты
                info@sklifos.ru
            .footer-c2.
                Справочная
                +7 (495) 680 41 54, +7 (495) 680 93 60

                Приёмное отделение
                +7 (495) 680 67 22, +7 (495) 680 89 76,
                +7 (495) 680 85 47, +7 (495) 680 07 06

                Канцелярия
                +7 (495) 608 84 55

                Отдел кадров
                +7 (495) 628 53 70
            .footer-c3.
                Директор
                Петриков Сергей Сергеевич
                Профессор РАН, доктор медицинских наук

                Приём граждан по личным вопросам:
                по средам с 11 до 12, корпус №21,
                +7 (495) 625 38 97,
                +7 (495) 628 36 45
                info@sklifos.ru

                Заместитель директора института по лечебной работе
                Токарев Алексей Сергеевич
                главный врач, кандидат медицинских наук
                Приём граждан по личным вопросам
                вторник и четверг с 15 до 16, корпус №21,  этаж 1
                +7 (495) 620 11 60
                info@sklifos.ru

                Книга отзывов и пожеланий находится
                в приёмной главного врача
