include ../mixins/_mixins

doctype html
html
    block sharedVars
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
        include _head_style
    body
        .wrapper
            .content
                include _header
                //end header

                block content
            //end content

            include _footer
            //end footer
        //end wrapper
        include ../blocks/_redconnect