extends core/_template

append sharedVars
    - var activeMenu = 'Новости';

block title
    title=activeMenu

block content
    .workarea
        .page.page-inner
            .container
                .page-wrapper
                    .page-content
                        .news-detail
                            .news-detail__date 10.05.2018
                            p.
                                12.05.2018 – 19.05.2018 - Акция Департамента здравоохранения города Москвы, приуроченная к Всемирному дню борьбы с артериальной гипертонией<br>
                                Всемирный день борьбы ,с артериальной гипертонией учреждён Всемирной лигой борьбы с гипертонией при поддержке Всемирной организации здравоохранения и проводится ежегодно с 2005 года во вторую субботу мая месяца.<br>
                                Во Всемирный день борьбы с артериальной гипертонией - 12 мая -Департамент здравоохранения города Москвы проводит в медицинских организациях государственной системы здравоохранения города Москвы «Дни открытых дверей» с участием Центров здоровья и врачей-терапевтов отделений (кабинетов) медицинской профилактики.<br>
                                В рамках Дней открытых дверей запланированы мероприятия: анкетирование на знание принципов здорового образа жизни и ранней диагностики артериальной гипертонии, измерение артериального давления, индекса массы тела, оценка питания и уровня физической активности, скрининг холестерина и глюкозы крови, биоимпедансометрия — диагностика состава тела с помощью измерения импеданса (электрического сопротивления тела), а также обследование с помощью кардиовизора — прибора, который диагностирует изменения в работе сердца.<br>
                                14-19 мая 2018 года выездные информационно-профилактические мероприятия для населения «Узнай уровень своего артериального давления!».
                            p.
                                В рамках мероприятий проводится:

                            ul
                                li.
                                    информирование населения об опасности повышенного артериального давления, осложнениях и о ранней диагностике, методах профилактики и лечения артериальной гипертонии, а также о профилактических услугах: диспансеризации, профилактических осмотрах и обследованиях в центрах здоровья;
                                li.
                                    измерение артериального давления и обучение населения методам самоконтроля артериального давления;
                                li.
                                    консультации врачей - терапевтов и врачей-специалистов.
                                li.
                                    Школы по артериальной гипертонии и тематические лекции для населения по профилактике артериальной гипертонии и здоровому образу жизни в отделениях (кабинетах) медицинской профилактики.
                    .page-sidebar
                        include blocks/_last-news

    //end workarea