extends core/_template

append sharedVars
    - var activeMenu = 'Новости';

block title
    title=activeMenu

block content
    .workarea
        .page.page-inner
            .container
                .page-wrapper
                    .page-content
                        .news-detail
                            .news-detail__date 14.05.2018
                            p.strong.center.
                                Акция «Московская недели профилактики ВИЧ-инфекции»,<br>
                                приуроченная ко Всемирному дню памяти умерших от СПИДа<br>
                                Всю неделю в столичных больницах и поликлиниках можно будет пройти бесплатное анонимное тестирование в кабинетах профилактики ВИЧ - инфекции и получить консультации специалистов.
                            .some-table.
                                <table cellspacing="0" cellpadding="0" border="1" width="100%">
                                <tbody>
                                <tr>
                                <td width="40" valign="bottom">
                                <p>
                                №<br>
                                п/п
                                </p>
                                </td>
                                <td width="102" valign="bottom">
                                <p>
                                Время<br>
                                проведения
                                </p>
                                </td>
                                <td width="212" valign="top">
                                <p>
                                Место проведения
                                </p>
                                </td>
                                <td width="281" valign="top">
                                <p>
                                Ответственное лицо
                                </p>
                                </td>
                                </tr>
                                <tr>
                                <td rowspan="5" width="40" valign="top">
                                <p>
                                1. .
                                </p>
                                </td>
                                <td width="102" valign="top">
                                <p>
                                с 9.00 до 19.30
                                </p>
                                </td>
                                <td width="212" valign="top">
                                <p>
                                ГБУЗ «Инфекционная клиническая больница № 2 ДЗМ»<br>
                                (г. Москва, 8-ая ул. Соколиной горы, д.15, корп.8)
                                </p>
                                </td>
                                <td width="281" valign="top">
                                <p>
                                Руководитель МГЦ СПИД<br>
                                Мазус Алексей Израилевич Тел. 8-495-365-21-52 Заведующий отделением профилактики Бессараб Тимур Петрович<br>
                                Тел. 8-495-366-62-38
                                    </p>
                                    </td>
                                </tr>
                                <tr>
                                <td rowspan="4" width="102" valign="top">
                                <p>
                                с 9.00 до 15.30
                                </p>
                                </td>
                                <td width="212" valign="top">
                                <p>
                                ГБУЗ «Городская поликлиника № 12 ДЗМ» (г. Москва, ул. Академика Комарова, д. 5, корп. 1)
                                </p>
                                </td>
                                <td width="281" valign="top">
                                <p>
                                Главный врач<br>
                                Курняева Марина Витальевна Тел. 8-495-619-29-25 Врач-инфекционист Славутская Ольга Борисовна Тел. 8-495-619-17-18
                                </p>
                                </td>
                                </tr>
                                <tr>
                                <td width="212" valign="top">
                                <p>
                                ГБУЗ «Городская поликлиника № 219 ДЗМ» филиал № 3<br>
                                (г. Москва, пр. Донелайтиса, Д- 21)
                                </p>
                                </td>
                                <td width="281" valign="top">
                                <p>
                                Главный врач Трасковецкая Ирина<br>
                                Геннадьевна<br>
                                Тел. 8-903-124-02-29;<br>
                                    8-495-948-25-00 Заведующая кабинетом ВИЧ Скрыпник Елена Афанасьевна 8-926­989-62-22
                                    </p>
                                    </td>
                                </tr>
                                <tr>
                                <td width="212" valign="top">
                                <p>
                                ГБУЗ «Городская поликлиника № 52 ДЗМ» (г. Москва, ул. Медынская, д. 7, корп.1)
                                </p>
                                </td>
                                <td width="281" valign="top">
                                <p>
                                Главный врач<br>
                                Балашов Дмитрий Владимирович Тел. 8-495-383-40-52 Врач-инфекционист Чичерова Светлана Викторовна Тел. 8-495-384-99-15
                                </p>
                                </td>
                                </tr>
                                <tr>
                                <td width="212" valign="top">
                                <p>
                                ГБУЗ «Троицкая городская больница ДЗМ» поликлиническое отделение (г. Троицк, ул. Юбилейная, д. 5)
                                </p>
                                </td>
                                <td width="281" valign="top">
                                <p>
                                Главный врач Герасименко Жаннетта<br>
                                Александровна<br>
                                Тел. 8-495-851-06-21<br>
                                    Врач-инфекционист Юдина Зоя<br>
                                    Николаевна<br>
                                    Тел. 8-495-851-06-43
                                    </p>
                                    </td>
                                </tr>
                                </tbody>
                                </table>

                            p.
                                14 мая 2018 г., с 11:00 до 15:00 пройдет выездной тематический Московский фестиваль визуальной культуры со специальным показом авторских работ, созданных в рамках комплексной стратегии профилактики ВИЧ-инфекции совместно с Молодежным советом при Департаменте здравоохранения города Москвы и ВОД «Волонтеры-медики» в ФГАО УВО «Российский университет дружбы народов».<br>
                                17 мая 2018 г. - выездное информационно-профилактическое и просветительское мероприятие в рамках Открытого студенческого форума «Остановим СПИД вместе!» в Национальном исследовательском ядерном университете «МИФИ» (Москва, Каширское ш., 31)<br>
                                17 мая 2018 г., в 16:00 - публичная дискуссия «Антикафе о проблемах ВИЧ-инфекции» для учащихся старших классов общеобразовательных школ и студентов колледжей в библиотеке Департамента культуры города Москвы.<br>
                                19 - 20 мая 2018 г., с 11:00 до 20:00 пройдут выездные информационно-профилактические мероприятия «Сдай тест на ВИЧ» с участием мобильного медицинского комплекса на территории АО «Выставка достижений народного хозяйства».<br>
                                Интересующие вопросы жители Москвы смогут также задать по телефону «горячей линии» Московского городского центра профилактики и борьбы со СПИДом (МГЦ СПИД), которая будет работать круглосуточно (8-495-366-62-38), или на сайте Центра (spid.ru, информационная линия «Вопрос-ответ»). В столице пройдет акция, посвященная Международному Дню памяти умерших от СПИДа 14-20 мая 2018 года в рамках Всероссийской акции «Стоп ВИЧ/СГГИД» состоится Московская неделя профилактики ВИЧ-инфекции «Москва против СПИДа! Территория здравого смысла». Каждое третье воскресенье мая во всём мире отмечают День памяти умерших от СПИДа. За более чем тридцатилетнюю историю пандемии ВИЧ/СГТИДа умерло более 40 млн инфицированных людей. Несмотря на то, что в борьбе с этим заболеванием достигнуто немало успехов, как в науке, так и в практическом здравоохранении, проблема ВИЧ- инфекции остается общемировой. В особенности заражению ВИЧ подвержено население крупных городов - в силу ряда объективных факторов, таких, как: наличие крупных транспортных узлов, внутренняя и внешняя миграция и высокая плотность населения. В российской столице достигнут уверенно контролируемый и более благоприятный по сравнению со многими мегаполисами развитых стран и другими регионами России уровень эпидемической обстановки по ВИЧ- инфекции. По данным официальной статистики, показатель пораженности Москвы ниже среднероссийского и в пять раз меньше наиболее неблагополучных по инфицированности регионов Сибири и Урала. Более того, московская служба противодействия ВИЧ/СПИДу значительно превышает плановые показатели, установленные для регионов России Государственной стратегией противодействия распространению ВИЧ-инфекции (в частности, по охвату APT). Это стало возможным благодаря системе инициированных Правительством Москвы мер, направленных на рост уровня осведомлённости и грамотности населения относительно различных аспектов ВИЧ-инфекции, утверждение приоритета научного    подхода, а также  развитие междисциплинарного и межведомственного взаимодействия в отработке стратегических решений по совершенствованию столичной медицинской и социальной помощи больным ВИЧ/СПИДом, при активном участии организованной службы с участием должностных лиц, на которых возложены обязанности по профилактике ВИЧ-инфекции во всех медицинских организациях государственной системы здравоохранения города Москвы, и социально-ориентированных неправительственных организаций. Проведение комплекса целевых мероприятий по сдерживанию распространения ВИЧ/СПИДа в столичном регионе позволило к 2018 году достичь следующих ключевых результатов работы:

                            p.
                                1) в городе достигнута стабилизация эпидемического процесса со стойкой тенденцией ко снижению числа новых случаев инфицирования ВИЧ у москвичей (в 2017 году число новых случаев снизилось на 3,8%). Во многом на это повлияла возможность повышения эффективности обследования мигрантов на социально-значимые заболевания после создания многофункционального миграционного центра и централизации медицинского освидетельствовании<br>
                                2) ежегодно увеличивается число лиц, прошедших обследование на антитела к ВИЧ на территории города Москвы. Охват медицинским освидетельствованием на ВИЧ-инфекцию в столице существенно выше не только среднероссийского показателя, но является эталонным для мировых мегаполисов (около 38 % населения или 4,5 млн лиц ежегодно). Это помогает медикам выявлять заражение на ранних стадиях и вовремя назначать необходимое лечение. На сегодняшний день система эффективного лабораторного обследования на ВИЧ-инфекцию реализуется таким образом: при проведении диспансеризации населения гражданам рекомендуется проходить добровольное освидетельствование (согласно приказу Департамента здравоохранения города Москвы от 26.01.2016 г. № 49); в административных округах Москвы и на базе Московского городского центра СПИД функционируют кабинеты профилактики ВИЧ-инфекции, обеспечивающие, в том числе регламентированное законодательством бесплатное анонимное добровольное консультирование и тестирование граждан на ВИЧ-инфекцию. Также систематически практикуются выездные мероприятия для увеличения охвата тестированием разных групп населения: студенческих, трудовых коллективов, пассажиров Московского метрополитена, российских железных дорог. Это позволяет оперативно анализировать динамику трендов, формирующих эпидемическую картину в столице. При этом в прошлом году количество иногородних, приехавших в Москву за оказанием медицинской помощи, сдавших анализы и таким образом попавших в поле зрения московских врачей, выросло на 73 %.<br>
                                3) cледует отметить, что сегодня московским медикам удалось добиться существенного сокращения разрыва между выявленными инфицированными и обратившимися за медицинской помощью в московский центр СПИД. Это говорит и о повышении доверия к московской службе противодействия ВИЧ/СПИДу, и об уровне качества медицинской помощи, и об усилении информирования общего населения столицы. В 2017 году более 75% больных, у которых диагностирована ВИЧ- инфекция, встали на диспансерный учет в поликлинике Центра;<br>
                                4) уверенным достижением московского здравоохранения является также сохранение высокого качества жизни пациентов, состоящих на диспансерном учете - благодаря обеспечению для всех ВИЧ- инфицированных непрерывного доступа к высокотехнологичной специализированной помощи, включая персонифицированную лекарственную, которой в индивидуальном порядке обеспечиваются все нуждающиеся. К концу текущего года охват антиретровирусной терапией в Москве составит более 60 %, что значительно превысит плановый показатель (48 %), установленный для регионов России Государственной стратегией противодействия распространению ВИЧ-инфекции. Следует также подчеркнуть, что в настоящее время около 80 % лиц, получающих в Москве APT, имеют неопределяемую вирусную нагрузку, что является одним из лучших показателей для современного мирового здравоохранения;<br>
                                5) ежегодные социологические исследования демонстрируют высокую информированность москвичей об основных путях заражения вирусом и - более того - то, что жители столицы являются лидерами по преодолению стигмации инфицированных граждан;<br>
                                6) по-прежнему Москва сохраняет лидерство по сравнению с другими регионами страны в области предупреждения передачи ВИЧ- инфекции от матери ребёнку с предельно низким для современного глобального здравоохранения показателем - менее 1 %. Более того, столичное здравоохранения делает акцент на системную профилактику ВИЧ-инфекции среди москвичек с точки зрения сохранения их репродуктивного здоровья;<br>
                                7) Индикатором общей благополучной ситуации по ВИЧ-инфекции в столице также служит снижение показателей заболеваемости, смертности и количества больных, имеющих сочетанное заболевание ВИЧ/туберкулез (одна из основных причин гибели больных ВИЧ-инфекцией в мире), достигнутое при содействии Московского научно-практического центра борьбы с туберкулезом Департамента здравоохранения города Москвы.<br>
                                Таким образом, необходимая ВИЧ-инфицированным жителям мегаполиса комплексная специализированная медицинская помощь, требующая самых высоких современных профессиональных стандартов профилактики, диагностики и лечения, реализуется в столице в полной мере.


                    .page-sidebar
                        include blocks/_last-news

    //end workarea