extends core/_template

append sharedVars
    - var activeMenu = 'Каталог услуг';

block title
    title=activeMenu

block content
    .workarea
        .page.page-inner
            .container
                .page-wrapper
                    .page-content
                        .service-datail
                            .service-datail__ttl УЗИ органов брюшной полости
                            .service-datail__prev.
                                УЗИ  брюшной полости - это современный информативный и безопасный метод диагностики заболеваний внутренних органов. В его основе лежит взаимодействие тканей с ультразвуковыми волнами, которое с помощью специальных программ преобразуется в изображение на мониторе УЗИ-аппарата.
                            p.
                                Ультразвуковое исследование брюшной полости включает в себя обследование печени, желчного пузыря и желчных протоков, поджелудочной железы и селезенки.
                            .service-datail__img
                                img(src="images/TEMP/s1.jpg")
                                img(src="images/TEMP/s2.jpg")

                            div Показания для проведения УЗИ брюшной полости могут быть следующие:
                            ul
                                li боль и тяжесть в животе
                                li тошнота, рвота;
                                li нарушение стула;
                                li метеоризм;
                                li желтизна кожных и слизистых покровов;
                                li отрыжка;
                                li изжога;
                                li изменение показателей биохимического анализа крови;
                                li данные общего осмотра, указывающие на то, что в брюшной полости есть патологическое образование.


                            .bottom-banner
                                .bottom-banner__ttl Подготовка к проведению УЗИ органов брюшной полости
                                .bottom-banner__txt.
                                    В целях обеспечения максимальной точности и достоверности результатов в течение суток, предшествующих исследованию, необходимо соблюдать специальную диету. Следует исключить  всё, что способствует избыточному газообразованию: сырые овощи, квашеную капусту, бобовые, чёрный хлеб, соки, газированные напитки.  Исследование обычно проводится натощак. Перед исследованием желательно не курить, не сосать леденцов,
                                    не жевать жевательную резинку.
                    .page-sidebar
                        .appointment
                            .appointment__ttl Записаться на приём
                            form.appointment__form
                                .appointment__row
                                    .appointment__label Имя, фамилия
                                    .appointment__input
                                        input.input(type="text" value="Александра Вавилова")
                                .appointment__row
                                    .appointment__label Номер телефона
                                    .appointment__input
                                        input.input(type="text" value="+7 912 345 67 89")
                                .appointment__row.appointment__row_flex
                                    .appointment__col
                                        .appointment__label Дата
                                        .appointment__input
                                            input.input.input_date(type="text" value="29.11.17")
                                    .appointment__col
                                        .appointment__label Время
                                        .appointment__input
                                            input.input.input_time(type="text" value="11:30")
                                .appointment__submit.center
                                    input.submit.submit_rb(type="submit" value="Записаться")


    //end workarea