.last-news
    .last-news__ttl Другие новости
    .last-news__list
        a.last-news__item(href="news1.html")
            .last-news__prev.
                Акция «Московская недели профилактики ВИЧ-инфекции», приуроченная ко Всемирному дню памяти умерших от СПИДа
            .last-news__date 14.05.2018
        a.last-news__item(href="news2.html")
            .last-news__prev.
                Акция Департамента здравоохранения города Москвы, приуроченная к Всемирному дню борьбы с артериальной гипертонией
            .last-news__date 10.05.2018
        a.last-news__item(href="news3.html")
            .last-news__prev.
                Дорогие ветераны! Коллектив НИИ СП им. Н.В. Склифосовского ДЗМ сердечно поздравляет Вас с 73-й годовщиной Победы в Великой Отечественной войне.
            .last-news__date 27.04.2018
    a.last-news__all(href="news.html") Все новости