script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [55.7734290689625,37.635242500000004],
            zoom: 15
        });
        var placemark = new ymaps.Placemark([55.7734290689625,37.635242500000004], {
            balloonContent: 'город Москва, Большая Сухаревская площадь, дом 3'
        }, {
            iconImageHref: 'images/pin2.png',
            iconImageSize: [78, 96],
            iconImageOffset: [-40,-96]
        });
        map.geoObjects.add(placemark);
    }